<nav class="bg-transparent text-white p-4 absolute top-0 left-0 right-0 z-10">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-xl font-semibold">Footy Classics</div>
        <ul class="flex space-x-4">
            <li><a href="/" class="hover:text-gray-300">Home</a></li>
            <li><a href="#" class="hover:text-gray-300">About</a></li>
            <li><a href="/rank" class="hover:text-gray-300">Rank Players</a></li>
            <li><a href="/leaderboard" class="hover:text-gray-300">Leaderboard</a></li>
        </ul>
    </div>
</nav>